---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Faqs as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  items = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-3xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <div data-pm7-accordion class="pm7-accordion pm7-accordion--separated" data-allow-multiple="true">
    {items.map(({ title, description }) => (
      <div class="pm7-accordion-item" data-state="closed">
        <button class="pm7-accordion-trigger" aria-expanded="false">
          <span>{title}</span>
        </button>
        <div class="pm7-accordion-content" data-state="closed">
          <div class="pm7-accordion-content-inner" set:html={description} />
        </div>
      </div>
    ))}
  </div>
</WidgetWrapper>
